.swiper {
   width: 100vw;
   min-width: 350px;
}

.swiper-slide {
   width: 300px;
   height: 300px;
   border-radius: 10px;
   background: var(
      --glass-effect-blue,
      linear-gradient(
         179deg,
         rgba(210, 209, 183, 0.8) 0%,
         rgba(210, 209, 183, 0.3) 100%
      )
   );
   box-shadow: 0px 10px 24px 0px
      rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(10px);
}


.slide-title-text-shadow{
   text-shadow: 0 4px 4px black;
}

@media screen and (min-width: 600px) {
   .swiper {
      max-width: 1500px;
      width: 100%;
   }

   .swiper-slide {
      width: 600px;
      height: 400px;
      border-radius: 10px;
      background: var(
         --glass-effect-blue,
         linear-gradient(
            179deg,
            rgba(210, 209, 183, 0.8) 0%,
            rgba(210, 209, 183, 0.3) 100%
         )
      );
      box-shadow: 0px 10px 24px 0px
         rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);
   }
}
