/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.light-source {
   background-color: #135040;
   background-image: radial-gradient(
         60.85% 500px at 50% 3.79%,
         #ecc785 0%,
         rgba(0, 0, 0, 0) 100%
      ),
      url("../Shapes.png");
}

.img-light-effect {
   background-image: radial-gradient(
      100.85% 200px at 50% 3.79%,
      #ecc68571 0%,
      rgba(0, 0, 0, 0) 100%
   );
   box-shadow: 0 5px 15px black;
}

.active-nav-link {
   color: white;
   text-shadow: 0 4px 4px black;
}

.glass-effect-yellow {
   border-radius: 10px;
   background: var(
      --glass-effect-blue,
      linear-gradient(
         179deg,
         rgba(210, 209, 183, 0.7) 0%,
         rgba(210, 209, 183, 0.3) 100%
      )
   );
   box-shadow: 0px 10px 24px 0px
      rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(5px);
}

@media screen and (min-width: 600px) {
   .light-source {
      background-color: #135040;
      background-image: radial-gradient(
            40.85% 700px at 50% 3.79%,
            #ecc785 0%,
            rgba(0, 0, 0, 0) 100%
         ),
         url("../Shapes.png");
   }

   .img-light-effect {
      background-image: radial-gradient(
         100.85% 300px at 50% 3.79%,
         #ecc68571 0%,
         rgba(0, 0, 0, 0) 100%
      );
      box-shadow: 0 5px 20px black;
   }
}
